<logo></logo>

<section id="faculity-member" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="header-section text-center title">
          <h2>Nuestra Plantilla educativa</h2>
          <p>Contamos con profesores titulados</p>
          <hr class="bottom-line">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="pm-staff-profile-container">
            <div class="pm-staff-profile-image-wrapper text-center">
              <div class="pm-staff-profile-image">
                <img src="../assets/img/prof.png" alt="" class="img-thumbnail img-circle" />
              </div>
            </div>
            <div class="pm-staff-profile-details text-center">
              <p class="pm-staff-profile-name">Lilia Hernandez Castilla</p>
              <p class="pm-staff-profile-title">1er grado</p>

              <p class="pm-staff-profile-bio">Titulo :  <span>Guia Montessori</span><br>
              Correo electronico  <a href="mailto:guia_montessori@hotmail.com"> guia_montessori@hotmail.com </a> </p>
            </div>
          </div>
        </div>
        
         <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="pm-staff-profile-container">
            <div class="pm-staff-profile-image-wrapper text-center">
              <div class="pm-staff-profile-image">
                <img src="../assets/img/prof.png" alt="" class="img-thumbnail img-circle" />
              </div>
            </div>
            <div class="pm-staff-profile-details text-center">
              <p class="pm-staff-profile-name">Juana Maria Ramírez Santos</p>
              <p class="pm-staff-profile-title">2do grado</p>

              <p class="pm-staff-profile-bio">Titulo: <span>Licenciatura en Pedagogía</span> <br>
              Correo electronico  <a href="mailto:juana_santos@outlook.com"> juana_santos@outlook.com</a> </p>
            </div>
          </div>
        </div>
         <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="pm-staff-profile-container">
            <div class="pm-staff-profile-image-wrapper text-center">
              <div class="pm-staff-profile-image">
                <img src="../assets/img/prof.png" alt="" class="img-thumbnail img-circle" />
              </div>
            </div>  
            <div class="pm-staff-profile-details text-center">
              <p class="pm-staff-profile-name">Maria Gariela Axotla Sánchez</p>
              <p class="pm-staff-profile-title">3ro grado</p>

              <p class="pm-staff-profile-bio">Titulo: <span>Licenciada en  ciencias de la educación</span> <br>
              
            </div>
          </div>
        </div>
         <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="pm-staff-profile-container">
            <div class="pm-staff-profile-image-wrapper text-center">
              <div class="pm-staff-profile-image">
                <img src="../assets/img/prof.png" alt="" class="img-thumbnail img-circle" />
              </div>
            </div>
            <div class="pm-staff-profile-details text-center">
              <p class="pm-staff-profile-name">David Martinez Salinas</p>
              <p class="pm-staff-profile-title">4to grado</p>

              <p class="pm-staff-profile-bio">Titulo: <span>Licenciado en Educacion Primaria</span> <br>
                              Correo electronico  <a href="mailto:davidfdr@hotmail.com"> davidfdr@hotmail.com </a> </p>
            </div>
          </div>
        </div>
         <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="pm-staff-profile-container">
            <div class="pm-staff-profile-image-wrapper text-center">
              <div class="pm-staff-profile-image">
                <img src="../assets/img/prof.png" alt="" class="img-thumbnail img-circle" />
              </div>
            </div>
            <div class="pm-staff-profile-details text-center">
              <p class="pm-staff-profile-name">Jose Luis Beltran Paez</p>
              <p class="pm-staff-profile-title">5to grado</p>

              <p class="pm-staff-profile-bio">Titulo: <span>Licenciado en Psicologia</span><br>
              
            </div>
          </div>
        </div>
         <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="pm-staff-profile-container">
            <div class="pm-staff-profile-image-wrapper text-center">
              <div class="pm-staff-profile-image">
                <img src="../assets/img/prof.png" alt="" class="img-thumbnail img-circle" />
              </div>
            </div>
            <div class="pm-staff-profile-details text-center">
              <p class="pm-staff-profile-name">Guillermina Olea Ceron</p>
              <p class="pm-staff-profile-title">6to grado</p>

              <p class="pm-staff-profile-bio">Titulo : <span>Licenciada en Educación primaria</span><br>
              
            </div>
          </div>
        </div>
         <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="pm-staff-profile-container">
            <div class="pm-staff-profile-image-wrapper text-center">
              <div class="pm-staff-profile-image">
                <img src="../assets/img/prof.png" alt="" class="img-thumbnail img-circle" />
              </div>
            </div>
            <div class="pm-staff-profile-details text-center">
              <p class="pm-staff-profile-name">Fabiola Romero Hernandez</p>
              <p class="pm-staff-profile-title">Ingles </p>

              <p class="pm-staff-profile-bio">
                Ingles: <span>Global de la UTN</span>
              
            </div>
          </div>
        </div>
         <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="pm-staff-profile-container">
            <div class="pm-staff-profile-image-wrapper text-center">
              <div class="pm-staff-profile-image">
                <img src="../assets/img/prof.png" alt="" class="img-thumbnail img-circle" />
              </div>
            </div>
            <div class="pm-staff-profile-details text-center">
              <p class="pm-staff-profile-name">Patricia Diaz Santibañes</p>
              <p class="pm-staff-profile-title">Computacion</p>

              <p class="pm-staff-profile-bio">Tecnico en: <span> MicroComputadoras</span>
                <br>
              Correo electronico  <a href="mailto:pattydiaz2010@live.com.mx"> pattydiaz2010@live.com.mx</a> </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="pm-staff-profile-container">
            <div class="pm-staff-profile-image-wrapper text-center">
              <div class="pm-staff-profile-image">
                <img src="../assets/img/prof.png" alt="" class="img-thumbnail img-circle" />
              </div>
            </div>
            <div class="pm-staff-profile-details text-center">
              <p class="pm-staff-profile-name">Jesus Antonio Diaz Mendoza</p>
              <p class="pm-staff-profile-title">Música </p>

              <p class="pm-staff-profile-bio">
                Musica: <span>Profesosr de solfeo, guitarra clasica, violin y teclado</span>
              Correo electronico  <a href="mailto:jesus_amendezdiaz@hotmail.com"> jesus_amendezdiaz@hotmail.com </a> </p>
            </div>
          </div>
        </div>
         <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="pm-staff-profile-container">
            <div class="pm-staff-profile-image-wrapper text-center">
              <div class="pm-staff-profile-image">
                <img src="../assets/img/prof.png" alt="" class="img-thumbnail img-circle" />
              </div>
            </div>
            <div class="pm-staff-profile-details text-center">
              <p class="pm-staff-profile-name">Angelina Garcia Morales</p>
              <p class="pm-staff-profile-title">Mantenimiento</p>

              
            </div>
          </div>
        </div>



      </div>
    </div>
  </section>