<logo></logo>

<section id="courses" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="header-section text-center title">
          <h2>Oferta Educativa</h2>
          <p>El Colegio Libertadores de América,<br> tiene el gusto de ofrecer los siguientes niveles.</p>
          <hr class="bottom-line">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 padleft-right">
          <figure class="imghvr-fold-up">
            <img src="../../../assets/img/guarderia.jpg" class="img-responsive">
            <figcaption>
              <h3>Guarderia</h3>
              <p>Para niños desde 1 año a 4 años cumplidos.</p>
            </figcaption>
            <a [routerLink]="['/construccion']"></a>
          </figure>
        </div>
        <div class="col-md-4 col-sm-6 padleft-right">
          <figure class="imghvr-fold-up">
            <img src="../../../assets/img/preescolar.png" class="img-responsive">
            <figcaption>
             <h3>Preescolar</h3>
              <p>Para niños desde 4 año a 5 años cumplidos.</p>
            </figcaption>
            <a [routerLink]="['/construccion']"></a>
          </figure>
        </div>
        <div class="col-md-4 col-sm-6 padleft-right">
          <figure class="imghvr-fold-up">
            <img src="../../../assets/img/primaria.jpg" class="img-responsive">
            <figcaption>
              <h3>Primaria</h3>
              <p>Para niños desde 6 año a 12 años cumplidos.</p>
            </figcaption>
            <a [routerLink]="['/PrimariaLibam']" [routerLinkActive]="['actived']"></a>
           
          </figure>
        </div>
       
     
      </div>
    </div>
  </section>