

<section id="feature" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="header-section text-center title">
          <h2>Conócenos</h2>
          <p>Somos un colegio especializado en el apoyo para papas y mamas trabajadores. <br>
Estamos incorporados a la secretaria de educación pública (SEP). 
Este año obtuvimos el mejor nivel educativo de la zona 28</p>
<p>Sobre todo, comprometidos con su trabajo dominamos el nuevo modelo educativo. </p>
          <hr class="bottom-line">
        </div>
        <div class="feature-info">
          <h3>Experiencia</h3>
            <div class="info" id=info1>
              <ul>
                  <li>Contamos con 15 años de experiencia.</li>
                  <li>Todos nuestros profesores están titulados.</li>
                  <li>Sobre todo, comprometidos con su trabajo dominamos el nuevo modelo ducativo.</li>
              </ul> 
            </div>
          
            
           <h3>Misión</h3>
            <div class="info" id="info2">
              <p><span>Ser una de la escuelas de mayor prestigio del país, por el alto nivel académico de nuestros alumnos, donde prevalezcan el respeto, la tolerancia y la disciplina, con un equipo docente actualizado y comprometido el cual genere el cambio que la sociedad demanda.</span></p>
              
            </div>
            <h3>Visión</h3>
            <div class="info" id="info1">
              <p>Formar ciudadanos consientes, analíticos y críticos; comprometidos con sus semejantes y su entorno, contribuyendo a forma una sociedad más justa, libre, productiva y solidaria. <br>A través de una educación humanista, personalizada y de calidad basada en el trabajo interdisciplinario.
              </p>
              
            </div>
            <h3>Modelo educativo</h3>
            <div class="info" id="info2">
              <p>
              Basado en el Constructivismo que permite generar aprendizajes significativos utilizando como estrategias la investigación, experimentación, análisis y reflexión en forma dinámica y atractiva para los educandos, promoviendo la toma de decisiones en un ambiente alegre, de juego y trabajo en equipo, en comunidad y en familia, que de una manera conjunta nos llevarán a grandes logros por medio de una comunicación continua de trabajo estrecho con los padres verdaderamente conscientes y responsables de la educación y formación de sus hijos. 
              </p>
            </div>
            <h3>Filosofia</h3>
            <div class="info" id="info1">
              <ul>
                <li>Atención con calidad y vocación de servicio.</li>
                <li>Integración del hombre a la cultura.</li>
                <li>Educación pertinente.</li>
                <li>Formación humana integral.</li>
                <li>Fortalecimiento de los valores.</li>
                <li>Cuidar el medio ambiente y la ecología.</li>
              </ul>
            </div>
           






                           
            
        
            

        </div>
      </div>
    </div>
  </section>



