<div class="banner">
    <div class="bg-color">
      <div class="container">
        <div class="row">
          <div class="banner-text text-center">
            <div class="intro-para text-center quote">
              <div class="logo">
                <a href="#"><img class="logo-libam"src="../../../assets/img/l_200.png" alt=""></a>
                <a href="#"><img class="logo-text" src="../../../assets/img/text.png" alt=""></a>
                  <div class="text-border">
                    <h2 class="text-dec">Formando lideres que Cambiarán al Mundo</h2>
                  </div>
              </div> 

              <p class="small-text">Contribuimos a formar nuevas generaciones de alumnos con un nivel académico y cultural de excelencia, como principios y valores sólidos, en un ambiente de orden y disciplina, capaces de trascender participando en los cambios culturales, sociales y políticos de su comunidad y país.</p> <br>
             
            </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br><br>