<section id="feature" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="header-section text-center title">
          <h2>Primaria</h2>
          


<section id="feature" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="header-section text-center title">
          <h2>Conócenos</h2>
          <p>Nuestro colegio, revisa, evalúa y complementa con responsabilidad los programas de estudios oficiales.</p>
          <hr class="bottom-line">
        </div>
        <div class="feature-info">
          
            
           <h3>Objetivo</h3>
            <div class="info" id="info1">
              <p>Elevar los niveles de desempeño académico así como reforzar la disciplina y los valores institucionales (honestidad, responsabilidad, solidaridad  y respeto) como una forma de vida; de tal modo que la Primaria figure como la mejor opción educativa de la zona por la calidad de la misma, todo ello en coordinación con la comunidad educativa (docentes, alumnos, padres de familia, Departamentos y Direcciones de la institución).</p>
              
            </div>
             <img src="../../../assets/img/l_200.png" >
            <h3>PARA INGRESAR A 1º. DE PRIMARIA</h3>
            <div class="info" id="info2">
              <ul>
                <li>Acta de Nacimiento Original y 3 copias, Si no lo tiene puede conseguirlo <a href="https://www.gob.mx/ActaNacimiento/" target="_blank"> AQUI </a>.</li>
                <li>CURP (Nuevo Formato)  Si no lo tiene puede conseguirlo <a href="https://consultas.curp.gob.mx" target="_blank"> AQUI </a>.</li>
                <li>Certificado médico  y dos copias que especifique si es apto para hacer deporte, (En la escuela se puede realizar la campaña medica escolar Costo $35 pesos).</li>
                <li>Reporte de evaluación de preescolar .</li>
                <li>Comprobante de domicilio original.</li>
                <li>Copia de Identificacion oficial (INE, IFE, Pasaporte, etc.) de ambos padres (Patira potestad si es familiar cercano).</li>
                <li>3 Fotografias de Padres o personas autorizadas.</li>
                <li>4 Fotografias del alumno.</li>
                

              </ul>
              




            </div>
            <h3>PARA INGRESAR DE 2º A 6º DE PRIMARIA</h3>
            <div class="info" id="info1">
              <ul>
                <li>Acta de Nacimiento Original y 3 copias, Si no lo tiene puede conseguirlo <a href="https://www.gob.mx/ActaNacimiento/"> AQUI </a>.</li>
                <li>CURP (Nuevo Formato)  Si no lo tiene puede conseguirlo <a href="https://consultas.curp.gob.mx"> AQUI </a>.</li>
                <li>Certificado médico  y dos copias que especifique si es apto para hacer deporte, (En la escuela se puede realizar la campaña medica escolar Costo $35 pesos).</li>
                <li>Boletas de años cursados anteriores.</li>
                <li>Comprobante de domicilio original.</li>
                <li>Copia de Identificacion oficial (INE, IFE, Pasaporte, etc.) de ambos padres (Patira potestad si es familiar cercano).</li>
                <li>3 Fotografias de Padres o personas autorizadas.</li>
                <li>4 Fotografias del alumno.</li>
                

              </ul>
            </div>
            

            
            
            
        
            

        </div>
      </div>
    </div>
  </section>






	
            

        
