.comunicate {
	list-style: none;
	display: block;
	float: left;
	width: 25%;
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
	background-color:#fff;
    border-width:3px;
    border-style:solid;
    border-bottom-color:#aaa;
    border-right-color:#aaa;
    border-top-color:#ddd;
    border-left-color:#ddd;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;

    margin-top: 20px;

}
.comunicate .image {
	width: 100%;
	height: 150px;
	overflow: hidden;

}

.comunicate img{
	
	width: 100%;
}

.comunicate a {
	text-decoration: none;
}

.delete {
	z-index: 100%;
	background: red;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
}