<logo></logo>
<section id="work-shop" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="header-section text-center title">
          <h2>Servicios</h2>
          
          <hr class="bottom-line">
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="service-box text-center">
            <div class="icon-box">
              <i class="fa fa-star color-green"></i>
            </div>
            <div class="icon-text">
              <h4 class="ser-text">Grupos reducidos </h4>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="service-box text-center">
            <div class="icon-box">
              <i class="fa fa-star color-green"></i>
            </div>
            <div class="icon-text">
              <h4 class="ser-text">Profesores altamente calificados</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="service-box text-center">
            <div class="icon-box">
              <i class="fa fa-star color-green"></i>
            </div>
            <div class="icon-text">
              <h4 class="ser-text">Seguro Medico </h4>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="service-box text-center">
            <div class="icon-box">
              <i class="fa fa-star color-green"></i>
            </div>
            <div class="icon-text">
              <h4 class="ser-text">Comedor</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="service-box text-center">
            <div class="icon-box">
              <i class="fa fa-star color-green"></i>
            </div>
            <div class="icon-text">
              <h4 class="ser-text">Aula de Computo</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="service-box text-center">
            <div class="icon-box">
              <i class="fa fa-star color-green"></i>
            </div>
            <div class="icon-text">
              <h4 class="ser-text">Cancha de futbol</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>